<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WeDo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <!-- Main Navbar -->
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <a class="navbar-brand" href="/index">WeDo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/publicaciones">Publicaciones</a>
            </li>
          </ul>
        </div>
        <div class="navbar-brand">
          <div class="d-flex">
            <button class="btn btn-sucess">
              <a href="/crear_publi">¡Crea una publicacion!</a>
            </button>
          </div>
        </div>
      </div>
    </nav>

    <!-- Layout con Grid para Navbar Lateral -->
    <div class="container-fluid">
      <div class="row">
        <!-- Navbar Lateral (izquierdo) -->
        <div class="col-md-3">
          <nav class="nav flex-column bg-light p-3" style="height: 100vh;">
            <div>
              <label for="customRange1" class="form-label">Rango Precio</label>
              <input type="range" class="form-range" id="customRange1">
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                Ya Cotizados
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
              <label class="form-check-label" for="flexRadioDefault2">
                Sin Cotizar
              </label>
            </div>
            <div class="pt-3">
              <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Seleccionar comuna</option>
                <option value="1">Cerrillos</option>
                <option value="2">Cerro Navia</option>
                <option value="3">Conchalí</option>
                <option value="4">El Bosque</option>
                <option value="5">Estación Central</option>
                <option value="6">Huechuraba</option>
                <option value="7">Independencia</option>
                <option value="8">La Cisterna</option>
                <option value="9">La Florida</option>
                <option value="10">La Granja</option>
                <option value="11">La Pintana</option>
                <option value="12">La Reina</option>
                <option value="13">Las Condes</option>
                <option value="14">Lo Barnechea</option>
                <option value="15">Lo Espejo</option>
                <option value="16">Lo Prado</option>
                <option value="17">Macul</option>
                <option value="18">Maipú</option>
                <option value="19">Ñuñoa</option>
                <option value="20">Pedro Aguirre Cerda</option>
                <option value="21">Peñalolén</option>
                <option value="22">Providencia</option>
                <option value="23">Pudahuel</option>
                <option value="24">Quilicura</option>
                <option value="25">Quinta Normal</option>
                <option value="26">Recoleta</option>
                <option value="27">Renca</option>
                <option value="28">San Joaquín</option>
                <option value="29">San Miguel</option>
                <option value="30">San Ramón</option>
                <option value="31">Santiago</option>
                <option value="32">Vitacura</option>
              </select>            
            </div>
            <div class="container">
              <div class="pt-3">
                <button type="button" class="btn btn-primary">Filtrar</button>
              </div>
            </div>
          </nav>
        </div>

        <!-- Contenido principal -->
        <div class="col-md-9">
          <!-- Contiene las cards centradas -->
          <div id="contenedor_publis">
            
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
      //Funcion
      async function cargaPublicaciones() {
        try {
          const respuesta = await fetch(`/getPublicaciones`);
          const jsonPublicaciones = await respuesta.json();

          const contenedorPublicaciones = document.getElementById('contenedor_publis');
          contenedorPublicaciones.innerHTML = '';

          for (let i = 0; i < jsonPublicaciones.length; i++) {
            // Obtener las imágenes asociadas a la publicación
            const imagenes_por_id = await fetch(`/publicacion/${jsonPublicaciones[i].id}/imagenes`);
            const imagenes = await imagenes_por_id.json();
            const idNumber = imagenes[0].id;

            const tarjetaHTML = `
              <div class="container d-flex justify-content-center" >
                <div class="row w-75 mb-3">
                  <div class="card p-0" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="/imagen/${idNumber}" class="img-fluid rounded-start" alt="${jsonPublicaciones[i].titulo}" style="width: 100%; height: 100%; object-fit: cover; display: block;width: 100%;height: 100%;object-fit: cover;vertical-align: bottom;">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">${jsonPublicaciones[i].titulo}</h5>
                          <p class="card-text">${jsonPublicaciones[i].descripcion}</p>
                          <p class="fst-italic">${jsonPublicaciones[i].precio_estimado}</p>
                          <button type="button" class="btn btn-primary">Ver</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            `;

            contenedorPublicaciones.insertAdjacentHTML('beforeend', tarjetaHTML);
          }
        } catch (error) {
          console.log('Error al cargar las publicaciones', error);
        }
      }
      document.addEventListener('DOMContentLoaded', () => {
          cargaPublicaciones();
      });
    </script>
  </body>
</html>

